<div class="container">
  <div class="row jumbotron">
    <div class="col-sm-5 col-xs-12">
      <h2>Procure a localização para:</h2>
      <form name="mapSearch" ng-submit="loadCoordinates(filter)">
        <div class="form-group">
          <label for="">Que site você procura?</label>
          <input type="text" name="website" placeholder="www.nytimes.com" class="form-control"
            ng-model="filter"
            ng-pattern="/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,4}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/i"
            required>
          <div class="alert alert-danger" ng-show="mapSearch.website.$error.pattern">
            <i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i>
            Url inválida!
          </div>
          <div class="alert alert-danger" ng-show="mapSearch.website.$error.required && !mapSearch.website.$pristine">
            <i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i>
            Campo obrigatório!
          </div>
          <div class="alert alert-danger" ng-show="message.status">
            <i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i>
            {{message.content}}
          </div>
        </div>
        <button type="submit" name="submit" class="btn btn-primary" ng-disabled="mapSearch.$invalid"><i class="glyphicon glyphicon-map-marker"></i> Locate</button>
        <button type="reset" name="reset" class="btn btn-danger" ng-click="reset()"><i class="glyphicon glyphicon-erase"></i> Reset</button>
      </form>
    </div>
    <div class="col-sm-7 col-xs-12">
      <div id="map"></div>
      <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
        <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
      </div>
    </div>
  </div>

</div>
